<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css/') }}">
    <title>The Wishing App</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Registration</h1>
                {% with messages = get_flashed_messages() %}     
                <!-- declare a variable called messages -->
                    {% if messages %}                            
                <!-- check if there are any messages -->
                    {% for message in messages %}            
                <!-- loop through the messages -->
                    <p>{{message}}</p>                   
                <!-- display each message in a paragraph tag -->
                        {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="/users/create" method="POST">
                    <p>First Name: <input type="text" value="{{session['first_name']}}" name="first_name"></p>
                    <p>Last Name: <input type="text" value="{{session['last_name']}}" name="last_name"></p>
                    <p>Email: <input type="text" name="email"></p>
                    <p>Password: <input type="password" name="password"></p>
                    <p>(Please submit a unique password containing uppercase, lowercase, numeric values, and a special
                        character.
                        Must be between 6 to 12 characters.)</p>
                    <p>Confirm Password: <input type="password" name="password_confirmation"></p>
                    <input type="submit" value="Create">
                </form>
            </div>
            <div class="col-lg-6">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <p>Email: <input type="text" name="username"></p>
                    <p>Password: <br><input type="password" name="password"></p>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</body>

</html>